body {
  background-color: beige;
}

nav a {
  text-decoration: none;
  color: rgb(255, 0, 0);

  font-size: 64px;
  transition: 0.2s;
}

ul {
  list-style-type: none;
  margin: 0 50px;
  padding: 10px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav li {
  display: inline;
}
