body {
  background-color: beige;
}

nav a {
  text-decoration: none;
  color: rgb(255, 68, 0);

  font-size: 64px;
  transition: 0.2s;
}

ul {
  list-style-type: none;
  margin: 0 50px;
  padding: 10px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav li {
  display: inline;
}

ul img {
  width: 400px;
}

.disable_l {
  opacity: 20%;
}
#hov1:hover::after {
  content: url("first.svg");
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
}

#hov2:hover::after {
  content: url("Group 157.svg");
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
}

#hov3:hover::after {
  content: url("inp.svg");
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
}

#hov4:hover::after {
  content: url("eyes.svg");
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
#hov5:hover::after {
  content: url("music.svg");
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
#hov6:hover::after {
  content: url("grids.svg");
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
#hov7:hover::after {
  content: url("tree.svg");
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
#hov8:hover::after {
  content: url("book.svg");
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
