* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  font-family: "AppleGaramond";
  background: #f1eee7;
  color: #252525;
  position: relative;
}

section {
  background-color: yellow;
  border: #252525;
}

/* стили текста */
h1 {
  font-size: 96px;
  /* letter-spacing: -10px; */
  line-height: 93px;
}
h3 {
  font-size: 24px;
  line-height: 31px;
}

p {
  font-size: 32px;
  text-align: justify;
  margin: 100px auto;
}
footer p {
  font-size: 16px;
}
